@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #222;
  --color: blanchedalmond;
  --containerColor: #2d2f31;
}

.wrapper {
  font-family: "Lemon", serif;
  background-color: var(--color);
  height: 100vh;
  color: var(--color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;

  align-items: center;
}

.container {
  background-color: var(--color);
  border: 2px solid #262a33;
  height: 85%;
  width: 85%;
  transition: all 0.5s ease;

  border-radius: 1.5em;
  box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.5);
  justify-content: center;
  /* margin: 0 auto; */
  @media (max-width: 480px) {
    width: 95%;
    height: 98%;
  }
}

.header {
  /* border: 1px solid coral; */
  width: 95%;
  margin: 1em auto;

  align-items: center;
  /* color: #222; */
  display: flex;
  justify-content: space-between;

  @media (max-width: 480px) {
  }
}

.check {
  height: 5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
  width: 5em;
  cursor: pointer;
}

.check i {
  font-size: 2.8em;
  position: absolute;
}
.check:hover {
  background-color: #222;
  color: whitesmoke;
}

.color {
  background-color: #222;
  /* color: #222; */

  transition: all 0.5s ease;
}

.btn {
  padding: 1em;
  border: none;
  background-color: blanchedalmond;
  border-radius: 1em;
  font-family: "Lemon", serif;
  font-size: 1.2em;
  @media (max-width: 480px) {
    font-size: 1em;
  }
}
.btn:hover {
  cursor: pointer;
  color: blanchedalmond;
  background-color: #262a33;
}

.header span {
  font-size: 1.2em;
}

h2 {
  display: flex;
  font-size: 3em;
  justify-content: center;

  @media (max-width: 480px) {
    font-size: 2em;

    text-align: center;
  }
}

.unknown-number {
  display: flex;
  margin: 0 auto;
  color: whitesmoke;
  background-color: #262a33;
  padding: 0.2em;
  margin-top: 0.8em;
  color: blanchedalmond;
  justify-content: center;
  font-size: 5em;
  width: 1.5em;
  border-radius: 0.5em;
  border: 1px solid blanchedalmond;

  @media (max-width: 480px) {
    font-size: 4em;
  }
}

.content {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40em;

  @media (max-width: 480px) {
    gap: 5em;
  }
}

.check-number {
  /* border: 1px solid coral; */
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.check-number input {
  height: 10vh;
  font-size: 4em;
  text-align: center;
  padding: 0.1em;
  font-weight: bold;
  color: blanchedalmond;
  background-color: #262a33;
  border: none;
  width: 10vw;
  border: 2px solid blanchedalmond;

  @media (max-width: 480px) {
    width: 35vw;
  }
}

.winner-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.6em;

  @media (max-width: 480px) {
    font-size: 1.2em;
  }
}

@media (max-width: 750px) {
  .content {
    flex-direction: column;
  }
}
